.DS_Store
/__pycache__/
*.py[cod]
*$py.class
*.so

/.idea
/Thumbs.db
/venv/
/.svn
.project
.pydevproject
~$*.docx
*.docx

# Celery
celerybeat-schedule
celerybeat-schedule.bak
celerybeat-schedule.dat
celerybeat-schedule.dir
celerybeat.pid

# stuff:
*.log
/logs/
db.sqlite
db.sqlite3
