
six==1.16.0
amqp==5.2.0
billiard==4.2.0
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
kombu==5.3.7
prompt-toolkit==3.0.47
python-dateutil==2.9.0.post0
tzdata==2024.1
vine==5.1.0
wcwidth==0.2.13
celery==5.4.0
dnspython==2.6.1

pymongo==4.8.0
redis==5.0.7

# sqlalchemy
typing-extensions==4.12.2
sqlalchemy==2.0.38

# gevent
zope.interface==7.2
zope.event==5.0
pycparser==2.22
greenlet==3.1.1
cffi==1.17.1
gevent==24.11.1

